html, body {
    background-color: rgb(15, 19, 42);
    text-decoration: none;
}
a{
    text-decoration: none;
}
#cardsLibrary{
    background-color:rgb(14, 9, 46);
    max-width: 80%;
    padding: 50px 0px;
    margin: auto;
    border-radius: 11px;
    display: flex;
    justify-content: flex-start; 
    justify-content: center;
    flex-wrap: wrap;
   gap: 40px;
    
}
.card{
    width: 320px;
    height: 450px;
    background-color: rgb(34, 34, 34);
    border-radius: 11px;
    border: 2px solid black;
    
}
.card p{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family:monospace;
    text-transform: uppercase;
    text-align: center;
    
}
